In [1]:
using CSV,DataFrames

In [2]:
input_fname = "newwords.csv"

"newwords.csv"

In [4]:
df = CSV.read(input_fname,DataFrame)

allwords = unique(df[!,:Word])

d = DataFrame(
    "Word"=>allwords,
    "N"=>[sum(df[!,:Word] .== w) for w in allwords]
)

47×2 DataFrame
 Row │ Word          N
     │ String15      Int64
─────┼─────────────────────
   1 │ tree              9
   2 │ hammer            8
   3 │ skunk            33
   4 │ kangaroo         32
   5 │ grasshopper      28
   6 │ onion            30
   7 │ ladder           31
   8 │ peacock          30
   9 │ saw              32
  10 │ bear             29
  11 │ giraffe          33
  ⋮  │      ⋮          ⋮
  38 │ watermelon       30
  39 │ whisk            31
  40 │ well             28
  41 │ clothespin       26
  42 │ padlock          26
  43 │ snowman          24
  44 │ spinning top     24
  45 │ moon             24
  46 │ wrench           23
  47 │ suit             23
            26 rows omitted

In [5]:
CSV.write("counts.csv",d)

"counts.csv"